<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OpenFile" value ="D:\Course .Net\task2EPAMCourse\task2EPAMCourse\bin\Debug\netcoreapp3.1\Data\ProgramText.txt" />
    <add key="SaveFile" value= "D:\Course .Net\task2EPAMCourse\task2EPAMCourse\bin\Debug\netcoreapp3.1\Data\SaveProgramText.json" />
  </appSettings>
</configuration>
